02-slack-ai-chatbot/workflow.json
{
    "name": "02 - Slack AI Chatbot",
    "nodes": [
        {
            "id": "50351a19-624e-4ff2-a31d-fb5ed064fae2",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "position": [
                -500,
                475
            ],
            "webhookId": "28b84545-96aa-42f5-990b-aa8783a320ca",
            "parameters": {
                "path": "slack-ai-chatbot",
                "options": {},
                "httpMethod": "POST"
            },
            "typeVersion": 1
        },
        {
            "id": "78d5af93-3f09-463d-8e57-a72f5766a12c",
            "name": "Slack",
            "type": "n8n-nodes-base.slack",
            "position": [
                960,
                460
            ],
            "parameters": {
                "text": "={{ $json.output }}",
                "user": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $('Webhook').item.json.body.event.user }}"
                },
                "select": "user",
                "otherOptions": {}
            },
            "credentials": {
                "slackApi": {
                    "id": "",
                    "name": "Slack Account"
                }
            },
            "typeVersion": 2.1
        },
        {
            "id": "98ec8934-f2a1-484b-ac8c-921ef7f3efe5",
            "name": "Chat OpenAI",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                300,
                815
            ],
            "parameters": {
                "model": "gpt-4",
                "options": {
                    "temperature": 0.7
                }
            },
            "credentials": {
                "openAiApi": {
                    "id": "",
                    "name": "OpenAI Account"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "0cd7299c-20f4-4249-a652-782eaf01b0c2",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "position": [
                600,
                815
            ],
            "parameters": {
                "sessionKey": "={{ $('Webhook').item.json.body.event.channel }}__chatbot",
                "contextWindowLength": 30
            },
            "typeVersion": 1
        },
        {
            "id": "11be2fb9-ac8a-4df8-893a-8bafaa267548",
            "name": "Wikipedia",
            "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
            "position": [
                960,
                815
            ],
            "parameters": {},
            "typeVersion": 1
        },
        {
            "id": "74df71fd-6803-4ea3-a777-1714a51456b7",
            "name": "No Operation, do nothing",
            "type": "n8n-nodes-base.noOp",
            "position": [
                140,
                495
            ],
            "parameters": {},
            "typeVersion": 1
        },
        {
            "id": "e8a9b83c-1d5f-4a8e-9c2b-5f3e9b1d7b8a",
            "name": "Is URL Verification",
            "type": "n8n-nodes-base.if",
            "position": [
                -240,
                475
            ],
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.type }}",
                            "value2": "url_verification"
                        }
                    ]
                }
            },
            "typeVersion": 1
        },
        {
            "id": "c1f2d3e4-5b6a-7c8d-9e0f-1a2b3c4d5e6f",
            "name": "Respond with Challenge",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                -40,
                260
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { challenge: $json.body.challenge } }}",
                "options": {}
            },
            "typeVersion": 1
        },
        {
            "id": "420fe56f-9ef8-4c57-ac06-d8d88f37b49a",
            "name": "Is user message",
            "type": "n8n-nodes-base.if",
            "position": [
                -40,
                475
            ],
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.body.event.bot_id }}",
                            "value2": "={{ undefined }}"
                        }
                    ]
                }
            },
            "typeVersion": 1
        },
        {
            "id": "5a73e6d7-9792-4f78-b95e-5b04d13b1e00",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -240,
                200
            ],
            "parameters": {
                "width": 300,
                "height": 100,
                "content": "### Handle Slack URL Verification\nRequired for Event Subscription setup."
            },
            "typeVersion": 1
        },
        {
            "id": "803394c4-dcc6-4040-b0ba-e93b48c410ab",
            "name": "SerpAPI",
            "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
            "position": [
                840,
                815
            ],
            "parameters": {
                "options": {}
            },
            "credentials": {
                "serpApi": {
                    "id": "",
                    "name": "SerpAPI Account"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "e18ae2f0-2b58-4423-ace0-a3bc49cb4a35",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                800,
                735
            ],
            "parameters": {
                "width": 293,
                "height": 228,
                "content": "### Tools\nWikipedia and SerpAPI for web search capabilities"
            },
            "typeVersion": 1
        },
        {
            "id": "318040c2-630d-4dd8-8ed2-7ca758750d93",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                520,
                735
            ],
            "parameters": {
                "width": 248,
                "height": 233,
                "content": "### Memory\nConversation history stored using channel ID as key"
            },
            "typeVersion": 1
        },
        {
            "id": "1fbc5d2a-b78a-4803-ac76-a51c25aec92c",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                220,
                735
            ],
            "parameters": {
                "width": 260,
                "height": 233,
                "content": "### LLM\nGPT-4 for natural language processing"
            },
            "typeVersion": 1
        },
        {
            "id": "8d37ed9f-cfb8-4938-ba4d-829c9fd53288",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                880,
                400
            ],
            "parameters": {
                "width": 280,
                "height": 223,
                "content": "### Response\nSend agent's output as Slack DM"
            },
            "typeVersion": 1
        },
        {
            "id": "9d7494c4-1fff-4373-b3bd-90dc884656fd",
            "name": "Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                420,
                460
            ],
            "parameters": {
                "text": "={{ $json.body.event.text }}",
                "options": {
                    "systemMessage": "You are a helpful AI assistant integrated into Slack. Be friendly, informative, and concise. Use the available tools (Wikipedia, SerpAPI) when you need to look up current information or facts. Always provide accurate and helpful responses."
                }
            },
            "typeVersion": 1
        }
    ],
    "connections": {
        "Agent": {
            "main": [
                [
                    {
                        "node": "Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpAPI": {
            "ai_tool": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Is URL Verification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is URL Verification": {
            "main": [
                [
                    {
                        "node": "Respond with Challenge",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is user message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wikipedia": {
            "ai_tool": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Chat OpenAI": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Is user message": {
            "main": [
                [
                    {
                        "node": "Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Operation, do nothing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    }
}